/*esto es un selecto que afecta en todos los elementos de mi pagina*/
* {
    margin: 0px;
    padding: 0px;
}

.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

/*generar estilos por medio de una clase*/
.imagenCl {
    width: 100%;
}

#video1 {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 50px 2px #F4EE90;
}

#video3 {

    border-radius: 20px;
    box-shadow: 5px 5px 30px 5px #7d6a6a;
}

#textoProductosCasa>h2+p+p {
    color: red;
}

#menuPpal {
    background-color: rgb(46, 20, 1);
    padding: 8px;
    box-shadow: 5px 5px 10px 5px gray;
}

#menuPpal a {
    text-decoration: none;
    color: rgb(214, 214, 214);
}

#menuPpal li {
    display: inline;
    padding: 8px;
}

.contRecestas {
    width: 400px;
    height: 250px;

    padding-top: 40px;
    margin: 50px;
}

#recetas {
    display: flex;
    background: -webkit-linear-gradient(#F7B873, #FDAE62);
}

#textoppal {


    height: 500px;
    background: -webkit-linear-gradient(#FDAE62, #F7B873);
}

#textoCentrado {
    width: 70%;
}

#textoCentradoParrafo {
    width: 90%;
    margin-top: 50px;
    font-size: 20px;
}

#sub1+p {
    color: red;
}

#textoCentrado h2 {

    font-size: 100px;
    text-align: center;

}

#formulario {
    padding-top: 50px;
    height: 800px;
    background: -webkit-radial-gradient(#BB704D, #F7B873);
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

#cajaFormulario
{
    width: 400px;
    height: 700px;
    background-color: #BB704D;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px ;
}
.inputText
{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}
